// CONSTRUCTOR

.hidden {
    display: none !important;
}

.bg-primary{
    background-color: $bg-primary!important;
}
.bg-secondary{
    background-color: $bg-secondary!important;
}

.text-right{
    text-align: right!important;
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}