.venue-profile{
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media(max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
  &-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -15px;
    max-width: 350px;
    width: 100%;
    background-color: $white;
    font-size: 14px;
    @media(max-width: 992px){
      max-width: 250px;
    }
    @media(max-width: 767px){
      height: 100%;
      max-width: 100%;
      margin-left: 0;
      justify-content: flex-start;
    }
    ul{
      padding-left: 0;
      list-style: none;
      @media(max-width: 767px){
        margin-bottom: 0;
      }
      a{
        display: block;
        padding: 14px 15px 14px 68px;
        color: $color-1-1;
        background-repeat: no-repeat;
        background-position:20px 50%;
        box-shadow: 0 1px 0 0 rgba(198,198,198,0.5);
        &:hover, &:focus{
          text-decoration: none;
          color: $white;
          background-color: $link-color-hover;
        }
        @media(max-width: 767px){
          padding-top: 13px;
          padding-bottom: 13px;
          padding-left: 70px;
        }
      }
      li{
        margin-bottom: 0;
        &:first-child{
          a{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-home%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M17.5,27.1517506 L20.7959843,27.1517506 C23.1366868,27.0749567 24.9408378,25.1571767 24.8630662,22.7953838 L25.625073,11.7953908 L14.0000001,1.00732187 L2.37633269,11.7940866 L3.22390017,22.838376 C3.14536937,25.1571767 4.94952038,27.0749567 7.27586306,27.1517506 L10.5,27.1517506 L10.5,21.0666667 L10.5122943,20.9588731 C10.641361,20.4016327 11.0506719,20 11.5705882,20 L16.5117647,20 C17.0685878,20 17.5,20.4656512 17.5,21.0666667 L17.5,27.1517506 Z M16.6764706,27.1517506 L16.6764706,21.0666667 C16.6764706,20.956571 16.6137651,20.8888889 16.5117647,20.8888889 L11.5705882,20.8888889 C11.4661635,20.8888889 11.3717347,20.9727743 11.3235294,21.1287616 L11.3235294,27.1517506 L16.6764706,27.1517506 Z M10.7241385,28 L7.26150322,28 C4.44297072,27.9072939 2.26798308,25.5953212 2.36330217,22.8562902 L1.50123332,11.6562902 C1.49140625,11.5286169 1.54068961,11.4034046 1.63534098,11.3155681 L13.704305,0.115568131 C13.8703511,-0.0385227102 14.1296492,-0.0385227102 14.2956953,0.115568131 L26.3646593,11.3155681 C26.4584828,11.4026363 26.5077719,11.5264758 26.4990002,11.653101 L25.7238973,22.8101089 C25.8182241,25.5953212 23.6432365,27.9072939 20.8103441,28 L10.7241385,28 Z' id='Combined-Shape' fill='%23121212'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

            &:hover, &:focus{
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-home%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M17.5,27.1517506 L20.7959843,27.1517506 C23.1366868,27.0749567 24.9408378,25.1571767 24.8630662,22.7953838 L25.625073,11.7953908 L14.0000001,1.00732187 L2.37633269,11.7940866 L3.22390017,22.838376 C3.14536937,25.1571767 4.94952038,27.0749567 7.27586306,27.1517506 L10.5,27.1517506 L10.5,21.0666667 L10.5122943,20.9588731 C10.641361,20.4016327 11.0506719,20 11.5705882,20 L16.5117647,20 C17.0685878,20 17.5,20.4656512 17.5,21.0666667 L17.5,27.1517506 Z M16.6764706,27.1517506 L16.6764706,21.0666667 C16.6764706,20.956571 16.6137651,20.8888889 16.5117647,20.8888889 L11.5705882,20.8888889 C11.4661635,20.8888889 11.3717347,20.9727743 11.3235294,21.1287616 L11.3235294,27.1517506 L16.6764706,27.1517506 Z M10.7241385,28 L7.26150322,28 C4.44297072,27.9072939 2.26798308,25.5953212 2.36330217,22.8562902 L1.50123332,11.6562902 C1.49140625,11.5286169 1.54068961,11.4034046 1.63534098,11.3155681 L13.704305,0.115568131 C13.8703511,-0.0385227102 14.1296492,-0.0385227102 14.2956953,0.115568131 L26.3646593,11.3155681 C26.4584828,11.4026363 26.5077719,11.5264758 26.4990002,11.653101 L25.7238973,22.8101089 C25.8182241,25.5953212 23.6432365,27.9072939 20.8103441,28 L10.7241385,28 Z' id='Combined-Shape' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
        &:nth-child(2){
          a{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-about%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-about' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M24.5505618,23.202784 C21.9841446,26.1426171 18.2089798,28 14,28 C6.2680135,28 0,21.7319865 0,14 C0,6.2680135 6.2680135,0 14,0 C21.7319865,0 28,6.2680135 28,14 C28,17.2800093 26.8720291,20.2965669 24.9828276,22.6829324 C25.0427541,22.8772073 24.9419461,23.087867 24.7411187,23.1700083 C24.6789368,23.1954416 24.6139074,23.2057966 24.5505618,23.202784 Z M4.89165286,23.4868757 C7.25499264,25.7564931 10.4645839,27.1515152 14,27.1515152 C17.9892078,27.1515152 21.5635796,25.375391 23.9754662,22.5707919 C22.6628447,20.3728093 18.9505465,18.812998 14.6284502,18.812998 C9.69272057,18.812998 5.58772167,20.8613975 4.89165286,23.4868757 Z M4.22480525,22.7983448 C5.35908735,19.9946752 9.63257317,18 14.6284502,18 C19.0446363,18 22.9130966,19.5476534 24.5319076,21.8779356 C26.1770315,19.6821221 27.1515152,16.9548625 27.1515152,14 C27.1515152,6.73661875 21.2633813,0.848484848 14,0.848484848 C6.73661875,0.848484848 0.848484848,6.73661875 0.848484848,14 C0.848484848,17.3831615 2.12593942,20.4679576 4.22480525,22.7983448 Z M14,16 C10.6862915,16 8,13.3137085 8,10 C8,6.6862915 10.6862915,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,13.3137085 17.3137085,16 14,16 Z M14,15.137931 C16.837601,15.137931 19.137931,12.837601 19.137931,10 C19.137931,7.16239904 16.837601,4.86206897 14,4.86206897 C11.162399,4.86206897 8.86206897,7.16239904 8.86206897,10 C8.86206897,12.837601 11.162399,15.137931 14,15.137931 Z' id='Combined-Shape' fill='%23121212'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            &:hover, &:focus{
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-about%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-about' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M24.5505618,23.202784 C21.9841446,26.1426171 18.2089798,28 14,28 C6.2680135,28 0,21.7319865 0,14 C0,6.2680135 6.2680135,0 14,0 C21.7319865,0 28,6.2680135 28,14 C28,17.2800093 26.8720291,20.2965669 24.9828276,22.6829324 C25.0427541,22.8772073 24.9419461,23.087867 24.7411187,23.1700083 C24.6789368,23.1954416 24.6139074,23.2057966 24.5505618,23.202784 Z M4.89165286,23.4868757 C7.25499264,25.7564931 10.4645839,27.1515152 14,27.1515152 C17.9892078,27.1515152 21.5635796,25.375391 23.9754662,22.5707919 C22.6628447,20.3728093 18.9505465,18.812998 14.6284502,18.812998 C9.69272057,18.812998 5.58772167,20.8613975 4.89165286,23.4868757 Z M4.22480525,22.7983448 C5.35908735,19.9946752 9.63257317,18 14.6284502,18 C19.0446363,18 22.9130966,19.5476534 24.5319076,21.8779356 C26.1770315,19.6821221 27.1515152,16.9548625 27.1515152,14 C27.1515152,6.73661875 21.2633813,0.848484848 14,0.848484848 C6.73661875,0.848484848 0.848484848,6.73661875 0.848484848,14 C0.848484848,17.3831615 2.12593942,20.4679576 4.22480525,22.7983448 Z M14,16 C10.6862915,16 8,13.3137085 8,10 C8,6.6862915 10.6862915,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,13.3137085 17.3137085,16 14,16 Z M14,15.137931 C16.837601,15.137931 19.137931,12.837601 19.137931,10 C19.137931,7.16239904 16.837601,4.86206897 14,4.86206897 C11.162399,4.86206897 8.86206897,7.16239904 8.86206897,10 C8.86206897,12.837601 11.162399,15.137931 14,15.137931 Z' id='Combined-Shape' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
        &:nth-child(3){
          a{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-images%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-images' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M22.2360277,26.4995249 L5.41067551,26.3093815 C2.40893276,26.3093815 -0.0369965246,24.0841105 0.000423727162,21.3632005 L0.221381483,6.32825208 C0.221381483,3.61897673 2.73886399,1.46319135 5.7635699,1.50047643 L22.5893212,1.69062461 C25.591064,1.69062461 28.0369933,3.9158956 27.9995763,6.63657465 L27.7870554,21.6787557 C27.7405368,24.3942059 25.2471718,26.5366426 22.2360277,26.4995249 Z M22.2452097,25.6956662 C24.8442636,25.727704 26.9581827,23.9113081 26.9966494,21.6659793 L27.2091491,6.62517879 C27.2400662,4.37711422 25.170813,2.49453766 22.5849298,2.49451285 L5.75438787,2.30433516 C3.14394513,2.27215681 1.01188819,4.0978923 1.01184407,6.33425766 L0.790847663,21.3748273 C0.75993053,23.6228919 2.82918372,25.5054684 5.41506694,25.5054932 L22.2452097,25.6956662 Z M8.00875076,14.90683 L10.9823576,18.45313 L16.5837884,10.7815918 C16.6924578,10.6065156 16.8840771,10.5 17.090366,10.5 C17.2966548,10.5 17.4882741,10.6065156 17.5879203,10.7676722 L24.9037121,21.5822072 L24.9179578,21.6047696 C25.0201121,21.7784831 25.0273084,21.9920061 24.9370811,22.1721835 C24.8468538,22.3523609 24.6714548,22.4747266 24.4182428,22.5 L2.57362788,22.2324313 C2.35820384,22.2249488 2.16361567,22.101904 2.06475319,21.9106521 C1.96589072,21.7194003 1.97816381,21.4897523 2.11585007,21.2836087 L7.05015434,14.939417 C7.16126455,14.7774637 7.3452235,14.6806457 7.54183255,14.6806457 C7.73844161,14.6806457 7.92240055,14.7774637 8.00875076,14.90683 Z M23.9295028,21.6520189 L17.082967,11.530616 L11.4884301,19.1943674 C11.3773199,19.3563207 11.193361,19.4531387 10.9967519,19.4531387 C10.8001429,19.4531387 10.6161839,19.3563207 10.5298337,19.2269544 L7.55008154,15.6733255 L3.10027038,21.3938445 L23.9295028,21.6520189 Z M14.2476887,10.5452687 C14.2267552,12.1881965 12.855342,13.5027948 11.1845515,13.4815062 C9.51376109,13.4602177 8.1762878,12.1111039 8.19722132,10.4681762 C8.21815484,8.82524844 9.58956806,7.51065014 11.2603585,7.53193867 C12.9311489,7.55322721 14.2686222,8.90234103 14.2476887,10.5452687 Z M13.3833362,10.5342555 C13.3982887,9.36073572 12.4429507,8.39708299 11.2495289,8.38187689 C10.0561072,8.3666708 9.07652631,9.30566958 9.0615738,10.4791894 C9.04662129,11.6527092 10.0019594,12.6163619 11.1953811,12.631568 C12.3888028,12.6467741 13.3683837,11.7077753 13.3833362,10.5342555 Z' id='Combined-Shape' fill='%23121212'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            &:hover, &:focus{
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-images%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-images' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M22.2360277,26.4995249 L5.41067551,26.3093815 C2.40893276,26.3093815 -0.0369965246,24.0841105 0.000423727162,21.3632005 L0.221381483,6.32825208 C0.221381483,3.61897673 2.73886399,1.46319135 5.7635699,1.50047643 L22.5893212,1.69062461 C25.591064,1.69062461 28.0369933,3.9158956 27.9995763,6.63657465 L27.7870554,21.6787557 C27.7405368,24.3942059 25.2471718,26.5366426 22.2360277,26.4995249 Z M22.2452097,25.6956662 C24.8442636,25.727704 26.9581827,23.9113081 26.9966494,21.6659793 L27.2091491,6.62517879 C27.2400662,4.37711422 25.170813,2.49453766 22.5849298,2.49451285 L5.75438787,2.30433516 C3.14394513,2.27215681 1.01188819,4.0978923 1.01184407,6.33425766 L0.790847663,21.3748273 C0.75993053,23.6228919 2.82918372,25.5054684 5.41506694,25.5054932 L22.2452097,25.6956662 Z M8.00875076,14.90683 L10.9823576,18.45313 L16.5837884,10.7815918 C16.6924578,10.6065156 16.8840771,10.5 17.090366,10.5 C17.2966548,10.5 17.4882741,10.6065156 17.5879203,10.7676722 L24.9037121,21.5822072 L24.9179578,21.6047696 C25.0201121,21.7784831 25.0273084,21.9920061 24.9370811,22.1721835 C24.8468538,22.3523609 24.6714548,22.4747266 24.4182428,22.5 L2.57362788,22.2324313 C2.35820384,22.2249488 2.16361567,22.101904 2.06475319,21.9106521 C1.96589072,21.7194003 1.97816381,21.4897523 2.11585007,21.2836087 L7.05015434,14.939417 C7.16126455,14.7774637 7.3452235,14.6806457 7.54183255,14.6806457 C7.73844161,14.6806457 7.92240055,14.7774637 8.00875076,14.90683 Z M23.9295028,21.6520189 L17.082967,11.530616 L11.4884301,19.1943674 C11.3773199,19.3563207 11.193361,19.4531387 10.9967519,19.4531387 C10.8001429,19.4531387 10.6161839,19.3563207 10.5298337,19.2269544 L7.55008154,15.6733255 L3.10027038,21.3938445 L23.9295028,21.6520189 Z M14.2476887,10.5452687 C14.2267552,12.1881965 12.855342,13.5027948 11.1845515,13.4815062 C9.51376109,13.4602177 8.1762878,12.1111039 8.19722132,10.4681762 C8.21815484,8.82524844 9.58956806,7.51065014 11.2603585,7.53193867 C12.9311489,7.55322721 14.2686222,8.90234103 14.2476887,10.5452687 Z M13.3833362,10.5342555 C13.3982887,9.36073572 12.4429507,8.39708299 11.2495289,8.38187689 C10.0561072,8.3666708 9.07652631,9.30566958 9.0615738,10.4791894 C9.04662129,11.6527092 10.0019594,12.6163619 11.1953811,12.631568 C12.3888028,12.6467741 13.3683837,11.7077753 13.3833362,10.5342555 Z' id='Combined-Shape' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
        &:nth-child(4){
          a{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 154 147' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3Eic-star-empty%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='02-Venue-Profile' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='D_03B4.1_Venue-Profile---Reviews---Empty-State' transform='translate(-735.000000, -342.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='ic-star-empty' transform='translate(735.000000, 342.000000)'%3E%3Cpath d='M153.163429,55.5743523 C152.756763,54.371625 151.696763,53.5029886 150.443429,53.3359432 L102.163429,46.9213977 L79.6567628,1.69885227 C78.5367628,-0.566284091 74.8100961,-0.566284091 73.6900961,1.69885227 L51.1767628,46.9213977 L2.8967628,53.3359432 C1.64342946,53.5029886 0.596762798,54.371625 0.176762798,55.5743523 C-0.229903869,56.7770795 0.076762798,58.1067614 0.976762798,59.0088068 L36.3834295,94.4959432 L26.7367628,142.852261 C26.4900961,144.108443 26.9767628,145.391352 27.9834295,146.166443 C28.9967628,146.941534 30.3700961,147.068489 31.4967628,146.500534 L76.6700961,123.862534 L121.843429,146.500534 C122.323429,146.734398 122.830096,146.85467 123.336763,146.85467 C124.050096,146.85467 124.770096,146.620807 125.350096,146.166443 C126.363429,145.38467 126.843429,144.108443 126.596763,142.852261 L116.950096,94.4959432 L152.356763,59.0088068 C153.263429,58.1067614 153.563429,56.7770795 153.163429,55.5743523 Z M110.983429,91.0347614 C110.196763,91.8298977 109.850096,92.959125 110.070096,94.0549432 L118.736763,137.473398 L78.1634295,117.140625 C77.6900961,116.906761 77.1767628,116.786489 76.6700961,116.786489 C76.1634295,116.786489 75.6500961,116.906761 75.1767628,117.140625 L34.6034295,137.473398 L43.2700961,94.0549432 C43.4900961,92.959125 43.1434295,91.8232159 42.3567628,91.0347614 L10.4634295,59.0689432 L53.8100961,53.3092159 C54.9100961,53.1622159 55.8634295,52.4806705 56.3567628,51.4917614 L76.6700961,10.6792159 L96.9834295,51.4917614 C97.4767628,52.4806705 98.4300961,53.1622159 99.5300961,53.3092159 L142.876763,59.0689432 L110.983429,91.0347614 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            &:hover, &:focus{
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 154 147' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3Eic-star-empty%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='02-Venue-Profile' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='D_03B4.1_Venue-Profile---Reviews---Empty-State' transform='translate(-735.000000, -342.000000)' fill='%23fff' fill-rule='nonzero'%3E%3Cg id='ic-star-empty' transform='translate(735.000000, 342.000000)'%3E%3Cpath d='M153.163429,55.5743523 C152.756763,54.371625 151.696763,53.5029886 150.443429,53.3359432 L102.163429,46.9213977 L79.6567628,1.69885227 C78.5367628,-0.566284091 74.8100961,-0.566284091 73.6900961,1.69885227 L51.1767628,46.9213977 L2.8967628,53.3359432 C1.64342946,53.5029886 0.596762798,54.371625 0.176762798,55.5743523 C-0.229903869,56.7770795 0.076762798,58.1067614 0.976762798,59.0088068 L36.3834295,94.4959432 L26.7367628,142.852261 C26.4900961,144.108443 26.9767628,145.391352 27.9834295,146.166443 C28.9967628,146.941534 30.3700961,147.068489 31.4967628,146.500534 L76.6700961,123.862534 L121.843429,146.500534 C122.323429,146.734398 122.830096,146.85467 123.336763,146.85467 C124.050096,146.85467 124.770096,146.620807 125.350096,146.166443 C126.363429,145.38467 126.843429,144.108443 126.596763,142.852261 L116.950096,94.4959432 L152.356763,59.0088068 C153.263429,58.1067614 153.563429,56.7770795 153.163429,55.5743523 Z M110.983429,91.0347614 C110.196763,91.8298977 109.850096,92.959125 110.070096,94.0549432 L118.736763,137.473398 L78.1634295,117.140625 C77.6900961,116.906761 77.1767628,116.786489 76.6700961,116.786489 C76.1634295,116.786489 75.6500961,116.906761 75.1767628,117.140625 L34.6034295,137.473398 L43.2700961,94.0549432 C43.4900961,92.959125 43.1434295,91.8232159 42.3567628,91.0347614 L10.4634295,59.0689432 L53.8100961,53.3092159 C54.9100961,53.1622159 55.8634295,52.4806705 56.3567628,51.4917614 L76.6700961,10.6792159 L96.9834295,51.4917614 C97.4767628,52.4806705 98.4300961,53.1622159 99.5300961,53.3092159 L142.876763,59.0689432 L110.983429,91.0347614 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
        &:last-child{
          a{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-settings%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-settings' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M13.9717174,18.6836421 C11.3920444,18.6836421 9.30080633,16.592404 9.30080633,14.012731 C9.30080633,11.4330581 11.3920444,9.34182001 13.9717174,9.34182001 C16.5513903,9.34182001 18.6426284,11.4330581 18.6426284,14.012731 C18.6426284,16.592404 16.5513903,18.6836421 13.9717174,18.6836421 Z M13.9717174,17.8343855 C16.0823588,17.8343855 17.7933718,16.1233725 17.7933718,14.012731 C17.7933718,11.9020896 16.0823588,10.1910766 13.9717174,10.1910766 C11.8610759,10.1910766 10.1500629,11.9020896 10.1500629,14.012731 C10.1500629,16.1233725 11.8610759,17.8343855 13.9717174,17.8343855 Z M26.7356325,9.63706593 L24.9009854,10.9400398 C25.1770593,11.9404162 25.3173755,12.9738599 25.3177848,14.0128971 C25.3173755,15.0516035 25.1770588,16.0850493 24.9009834,17.0854274 L26.7305948,18.3848729 C26.9361509,18.5264281 27.0765164,18.744351 27.1203905,18.9900464 C27.1642647,19.2357418 27.107999,19.4887774 26.9661606,19.6898385 L23.6905086,24.4165816 C23.5507934,24.6227045 23.3339262,24.7638458 23.0888837,24.8081306 C22.8438411,24.8524154 22.5912906,24.7961086 22.3886527,24.6521999 L20.5429035,23.3444828 C19.6862201,23.9652755 18.7463054,24.4622607 17.750909,24.8207561 L17.750909,27.0657452 C17.7509798,27.5756601 17.3421406,27.9914289 16.8252194,27.9999887 L11.1026456,27.9999887 C10.5928016,27.9914289 10.1839623,27.5756601 10.1840331,27.0658042 L10.1840331,24.8207561 C9.18863675,24.4622607 8.24872199,23.9652755 7.39203865,23.3444828 L5.54667492,24.6519265 C5.34365155,24.7961086 5.09110102,24.8524154 4.84605848,24.8081306 C4.60101595,24.7638458 4.38414879,24.6227045 4.24691181,24.4201975 L0.970801774,19.692728 C0.826943118,19.4887774 0.77067743,19.2357418 0.814551604,18.9900464 C0.858425778,18.744351 0.998791222,18.5264281 1.2009174,18.3872599 L3.04238661,17.0922429 C2.49043208,15.0816695 2.49056404,12.9592825 3.0427825,10.9487625 L1.21283989,9.6490817 C1.00728379,9.50752659 0.866918344,9.28960362 0.82304417,9.04390825 C0.779169996,8.79821288 0.835435684,8.54517721 0.976980753,8.34453998 L4.24443356,3.617373 C4.38414879,3.41125012 4.60101595,3.27010885 4.84605848,3.22582406 C5.09110102,3.18153926 5.34365155,3.23784601 5.5418505,3.37865207 L7.39717948,4.65793133 C8.25476276,4.03600557 9.19583101,3.53819123 10.1925257,3.17922825 L10.1925257,0.93423914 C10.1924549,0.42432492 10.601293,0.00855658177 11.1182153,-1.13476571e-05 L16.8242784,-1.13476571e-05 C17.0832155,-0.000576051477 17.3307756,0.106348628 17.5078737,0.295253266 C17.6849727,0.484158883 17.7757201,0.738097151 17.7594016,0.968150422 L17.7594016,3.21319851 C18.754602,3.57162333 19.6943427,4.06848349 20.5508901,4.68910523 L22.3882672,3.38202818 C22.5912906,3.23784601 22.8438411,3.18153926 23.0888837,3.22582406 C23.3339262,3.27010885 23.5507934,3.41125012 23.6878267,3.61346353 L26.9641404,8.33273404 C27.107999,8.53668464 27.1642647,8.78972031 27.1203905,9.03541569 C27.0765164,9.28111106 26.9361509,9.49903403 26.7356325,9.63706593 Z M24.0029001,17.1330896 C24.3111863,16.1216338 24.4680951,15.0701245 24.4685283,14.0127298 C24.4680951,12.9553372 24.3111862,11.903828 24.0029001,10.8923725 L23.9136636,10.5995963 L24.1632068,10.4223697 L26.248923,8.9411401 C26.2676099,8.92827146 26.2803704,8.90846028 26.284359,8.88612433 C26.2883475,8.86378839 26.2832325,8.84078515 26.2683378,8.81964827 L22.9875256,4.09387238 C22.9759895,4.07685306 22.9580831,4.0651992 22.9378502,4.06154266 C22.9176173,4.05788611 22.8967645,4.06253529 22.8802786,4.07424299 L20.535273,5.74243809 L20.2862885,5.55117737 C19.3572836,4.83754987 18.3145089,4.2858172 17.2018899,3.91922042 L16.910145,3.82309342 L16.910145,3.51592007 L16.9110898,0.939840819 C16.9126591,0.916353285 16.9044094,0.893267988 16.8883095,0.87609475 C16.8722092,0.858921097 16.8497022,0.849194229 16.8252194,0.849194229 L11.1252944,0.849194229 C11.0789437,0.849967058 11.0417758,0.887764991 11.0417823,0.93418016 L11.0417823,3.78912316 L10.7500374,3.88525016 C9.63741839,4.25184694 8.59464364,4.80357961 7.66563877,5.51720711 L7.42045391,5.70554912 L7.1659217,5.53004505 L5.05494103,4.07444024 C5.03817763,4.06253529 5.01732483,4.05788611 4.99709196,4.06154266 C4.9768591,4.0651992 4.95895263,4.07685306 4.9452316,4.0970644 L1.6732803,8.83073675 C1.66020224,8.84927771 1.65508718,8.87228096 1.65907574,8.8946169 C1.6630643,8.91695284 1.67582479,8.93676402 1.69954939,8.95315587 L4.02941965,10.6078392 L3.94069971,10.9003219 C3.32346838,12.9351461 3.32346838,15.1073011 3.94069971,17.1421253 L4.02985415,17.4360404 L3.77862019,17.6127212 L1.68601915,19.084322 C1.66733223,19.0971906 1.65457173,19.1170018 1.65058317,19.1393377 C1.64659461,19.1616737 1.65170967,19.1846769 1.66680798,19.2061074 L4.94741651,23.9400823 C4.95895263,23.9571016 4.9768591,23.9687554 4.99709196,23.972412 C5.01732483,23.9760685 5.03817763,23.9714193 5.05532655,23.9592409 L7.40866009,22.2918994 L7.6571462,22.4827773 C8.58615107,23.1964048 9.62892582,23.7481374 10.7415448,24.1147342 L11.0332897,24.2108612 L11.0332897,24.5180346 L11.0332897,27.0658632 C11.0332832,27.1122191 11.0704505,27.1500163 11.1097228,27.1507889 L16.8181422,27.1507889 C16.8644917,27.1500163 16.9016589,27.1122191 16.9016525,27.0658042 L16.9016525,24.2108612 L17.1933973,24.1147342 C18.3060163,23.7481374 19.3487911,23.1964048 20.2777959,22.4827773 L20.5262821,22.2918994 L20.7819519,22.473042 L22.8800011,23.9595144 C22.8967645,23.9714193 22.9176173,23.9760685 22.9378502,23.972412 C22.9580831,23.9687554 22.9759895,23.9571016 22.9900039,23.9364664 L26.2701544,19.2032179 C26.2832325,19.1846769 26.2883475,19.1616737 26.284359,19.1393377 C26.2803704,19.1170018 26.2676099,19.0971906 26.2438853,19.0807988 L23.9136636,17.4258658 L24.0029001,17.1330896 Z' id='Combined-Shape' fill='%23121212'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            &:hover, &:focus{
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3ETab/Icons/ic-settings%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Tab/Icons/ic-settings' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M13.9717174,18.6836421 C11.3920444,18.6836421 9.30080633,16.592404 9.30080633,14.012731 C9.30080633,11.4330581 11.3920444,9.34182001 13.9717174,9.34182001 C16.5513903,9.34182001 18.6426284,11.4330581 18.6426284,14.012731 C18.6426284,16.592404 16.5513903,18.6836421 13.9717174,18.6836421 Z M13.9717174,17.8343855 C16.0823588,17.8343855 17.7933718,16.1233725 17.7933718,14.012731 C17.7933718,11.9020896 16.0823588,10.1910766 13.9717174,10.1910766 C11.8610759,10.1910766 10.1500629,11.9020896 10.1500629,14.012731 C10.1500629,16.1233725 11.8610759,17.8343855 13.9717174,17.8343855 Z M26.7356325,9.63706593 L24.9009854,10.9400398 C25.1770593,11.9404162 25.3173755,12.9738599 25.3177848,14.0128971 C25.3173755,15.0516035 25.1770588,16.0850493 24.9009834,17.0854274 L26.7305948,18.3848729 C26.9361509,18.5264281 27.0765164,18.744351 27.1203905,18.9900464 C27.1642647,19.2357418 27.107999,19.4887774 26.9661606,19.6898385 L23.6905086,24.4165816 C23.5507934,24.6227045 23.3339262,24.7638458 23.0888837,24.8081306 C22.8438411,24.8524154 22.5912906,24.7961086 22.3886527,24.6521999 L20.5429035,23.3444828 C19.6862201,23.9652755 18.7463054,24.4622607 17.750909,24.8207561 L17.750909,27.0657452 C17.7509798,27.5756601 17.3421406,27.9914289 16.8252194,27.9999887 L11.1026456,27.9999887 C10.5928016,27.9914289 10.1839623,27.5756601 10.1840331,27.0658042 L10.1840331,24.8207561 C9.18863675,24.4622607 8.24872199,23.9652755 7.39203865,23.3444828 L5.54667492,24.6519265 C5.34365155,24.7961086 5.09110102,24.8524154 4.84605848,24.8081306 C4.60101595,24.7638458 4.38414879,24.6227045 4.24691181,24.4201975 L0.970801774,19.692728 C0.826943118,19.4887774 0.77067743,19.2357418 0.814551604,18.9900464 C0.858425778,18.744351 0.998791222,18.5264281 1.2009174,18.3872599 L3.04238661,17.0922429 C2.49043208,15.0816695 2.49056404,12.9592825 3.0427825,10.9487625 L1.21283989,9.6490817 C1.00728379,9.50752659 0.866918344,9.28960362 0.82304417,9.04390825 C0.779169996,8.79821288 0.835435684,8.54517721 0.976980753,8.34453998 L4.24443356,3.617373 C4.38414879,3.41125012 4.60101595,3.27010885 4.84605848,3.22582406 C5.09110102,3.18153926 5.34365155,3.23784601 5.5418505,3.37865207 L7.39717948,4.65793133 C8.25476276,4.03600557 9.19583101,3.53819123 10.1925257,3.17922825 L10.1925257,0.93423914 C10.1924549,0.42432492 10.601293,0.00855658177 11.1182153,-1.13476571e-05 L16.8242784,-1.13476571e-05 C17.0832155,-0.000576051477 17.3307756,0.106348628 17.5078737,0.295253266 C17.6849727,0.484158883 17.7757201,0.738097151 17.7594016,0.968150422 L17.7594016,3.21319851 C18.754602,3.57162333 19.6943427,4.06848349 20.5508901,4.68910523 L22.3882672,3.38202818 C22.5912906,3.23784601 22.8438411,3.18153926 23.0888837,3.22582406 C23.3339262,3.27010885 23.5507934,3.41125012 23.6878267,3.61346353 L26.9641404,8.33273404 C27.107999,8.53668464 27.1642647,8.78972031 27.1203905,9.03541569 C27.0765164,9.28111106 26.9361509,9.49903403 26.7356325,9.63706593 Z M24.0029001,17.1330896 C24.3111863,16.1216338 24.4680951,15.0701245 24.4685283,14.0127298 C24.4680951,12.9553372 24.3111862,11.903828 24.0029001,10.8923725 L23.9136636,10.5995963 L24.1632068,10.4223697 L26.248923,8.9411401 C26.2676099,8.92827146 26.2803704,8.90846028 26.284359,8.88612433 C26.2883475,8.86378839 26.2832325,8.84078515 26.2683378,8.81964827 L22.9875256,4.09387238 C22.9759895,4.07685306 22.9580831,4.0651992 22.9378502,4.06154266 C22.9176173,4.05788611 22.8967645,4.06253529 22.8802786,4.07424299 L20.535273,5.74243809 L20.2862885,5.55117737 C19.3572836,4.83754987 18.3145089,4.2858172 17.2018899,3.91922042 L16.910145,3.82309342 L16.910145,3.51592007 L16.9110898,0.939840819 C16.9126591,0.916353285 16.9044094,0.893267988 16.8883095,0.87609475 C16.8722092,0.858921097 16.8497022,0.849194229 16.8252194,0.849194229 L11.1252944,0.849194229 C11.0789437,0.849967058 11.0417758,0.887764991 11.0417823,0.93418016 L11.0417823,3.78912316 L10.7500374,3.88525016 C9.63741839,4.25184694 8.59464364,4.80357961 7.66563877,5.51720711 L7.42045391,5.70554912 L7.1659217,5.53004505 L5.05494103,4.07444024 C5.03817763,4.06253529 5.01732483,4.05788611 4.99709196,4.06154266 C4.9768591,4.0651992 4.95895263,4.07685306 4.9452316,4.0970644 L1.6732803,8.83073675 C1.66020224,8.84927771 1.65508718,8.87228096 1.65907574,8.8946169 C1.6630643,8.91695284 1.67582479,8.93676402 1.69954939,8.95315587 L4.02941965,10.6078392 L3.94069971,10.9003219 C3.32346838,12.9351461 3.32346838,15.1073011 3.94069971,17.1421253 L4.02985415,17.4360404 L3.77862019,17.6127212 L1.68601915,19.084322 C1.66733223,19.0971906 1.65457173,19.1170018 1.65058317,19.1393377 C1.64659461,19.1616737 1.65170967,19.1846769 1.66680798,19.2061074 L4.94741651,23.9400823 C4.95895263,23.9571016 4.9768591,23.9687554 4.99709196,23.972412 C5.01732483,23.9760685 5.03817763,23.9714193 5.05532655,23.9592409 L7.40866009,22.2918994 L7.6571462,22.4827773 C8.58615107,23.1964048 9.62892582,23.7481374 10.7415448,24.1147342 L11.0332897,24.2108612 L11.0332897,24.5180346 L11.0332897,27.0658632 C11.0332832,27.1122191 11.0704505,27.1500163 11.1097228,27.1507889 L16.8181422,27.1507889 C16.8644917,27.1500163 16.9016589,27.1122191 16.9016525,27.0658042 L16.9016525,24.2108612 L17.1933973,24.1147342 C18.3060163,23.7481374 19.3487911,23.1964048 20.2777959,22.4827773 L20.5262821,22.2918994 L20.7819519,22.473042 L22.8800011,23.9595144 C22.8967645,23.9714193 22.9176173,23.9760685 22.9378502,23.972412 C22.9580831,23.9687554 22.9759895,23.9571016 22.9900039,23.9364664 L26.2701544,19.2032179 C26.2832325,19.1846769 26.2883475,19.1616737 26.284359,19.1393377 C26.2803704,19.1170018 26.2676099,19.0971906 26.2438853,19.0807988 L23.9136636,17.4258658 L24.0029001,17.1330896 Z' id='Combined-Shape' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }

  &-logout{
    font-size: 0;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 35px;
    border: none;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='35px' viewBox='0 0 22 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3Eic-kogout%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='01_Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='D_06_Personal-Profile' transform='translate(-120.000000, -1336.000000)' fill='%23121212'%3E%3Cpath d='M136.5,1349 C136.224,1349 136,1349.224 136,1349.5 L136,1354.5 C136,1355.327 135.327,1356 134.5,1356 L130,1356 L130,1340.594 C130,1339.729 129.486,1338.95 128.691,1338.61 L124.935,1337 L134.5,1337 C135.327,1337 136,1337.673 136,1338.5 L136,1343.5 C136,1343.776 136.224,1344 136.5,1344 C136.776,1344 137,1343.776 137,1343.5 L137,1338.5 C137,1337.122 135.878,1336 134.5,1336 L122.5,1336 C122.46,1336 122.424,1336.014 122.386,1336.023 C122.311,1336.015 122.236,1336 122.159,1336 C120.969,1336 120,1336.969 120,1338.159 L120,1355.406 C120,1356.271 120.514,1357.05 121.309,1357.39 L126.989,1359.825 C127.259,1359.941 127.546,1360 127.841,1360 C129.031,1360 130,1359.031 130,1357.841 L130,1357 L134.5,1357 C135.878,1357 137,1355.878 137,1354.5 L137,1349.5 C137,1349.224 136.776,1349 136.5,1349 Z M129,1357.841 C129,1358.48 128.48,1359 127.841,1359 C127.683,1359 127.529,1358.969 127.384,1358.907 L121.703,1356.472 C121.276,1356.289 121,1355.87 121,1355.406 L121,1338.159 C121,1337.52 121.52,1337 122.159,1337 C122.317,1337 122.471,1337.031 122.616,1337.094 L128.297,1339.528 C128.724,1339.711 129,1340.13 129,1340.594 L129,1357.841 Z M127.5,1347 C127.224,1347 127,1347.224 127,1347.5 L127,1349.5 C127,1349.776 127.224,1350 127.5,1350 C127.776,1350 128,1349.776 128,1349.5 L128,1347.5 C128,1347.224 127.776,1347 127.5,1347 Z M141.973,1346.368 C141.968,1346.35 141.969,1346.33 141.962,1346.312 C141.936,1346.247 141.897,1346.19 141.847,1346.142 L138.853,1343.148 C138.658,1342.953 138.341,1342.953 138.146,1343.148 C137.951,1343.343 137.951,1343.66 138.146,1343.855 L140.291,1346 L131.5,1346 C131.224,1346 131,1346.224 131,1346.5 C131,1346.776 131.224,1347 131.5,1347 L140.293,1347 L138.146,1349.147 C137.951,1349.342 137.951,1349.659 138.146,1349.854 C138.244,1349.951 138.372,1350 138.5,1350 C138.628,1350 138.756,1349.951 138.853,1349.855 L141.853,1346.855 C141.867,1346.841 141.872,1346.823 141.884,1346.809 C141.913,1346.773 141.943,1346.736 141.961,1346.692 C141.979,1346.649 141.983,1346.603 141.988,1346.558 C141.991,1346.538 142,1346.52 142,1346.5 C142,1346.453 141.985,1346.411 141.973,1346.368 Z' id='ic-kogout'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    @media(max-width: 767px){
      margin-left: 11px;
      padding-left: 59px;
      font-size: 14px;
      min-height: 66px;
      height: 28px;
      background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='35px' viewBox='0 0 22 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3Eic-kogout%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='01_Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='D_06_Personal-Profile' transform='translate(-120.000000, -1336.000000)' fill='%23121212'%3E%3Cpath d='M136.5,1349 C136.224,1349 136,1349.224 136,1349.5 L136,1354.5 C136,1355.327 135.327,1356 134.5,1356 L130,1356 L130,1340.594 C130,1339.729 129.486,1338.95 128.691,1338.61 L124.935,1337 L134.5,1337 C135.327,1337 136,1337.673 136,1338.5 L136,1343.5 C136,1343.776 136.224,1344 136.5,1344 C136.776,1344 137,1343.776 137,1343.5 L137,1338.5 C137,1337.122 135.878,1336 134.5,1336 L122.5,1336 C122.46,1336 122.424,1336.014 122.386,1336.023 C122.311,1336.015 122.236,1336 122.159,1336 C120.969,1336 120,1336.969 120,1338.159 L120,1355.406 C120,1356.271 120.514,1357.05 121.309,1357.39 L126.989,1359.825 C127.259,1359.941 127.546,1360 127.841,1360 C129.031,1360 130,1359.031 130,1357.841 L130,1357 L134.5,1357 C135.878,1357 137,1355.878 137,1354.5 L137,1349.5 C137,1349.224 136.776,1349 136.5,1349 Z M129,1357.841 C129,1358.48 128.48,1359 127.841,1359 C127.683,1359 127.529,1358.969 127.384,1358.907 L121.703,1356.472 C121.276,1356.289 121,1355.87 121,1355.406 L121,1338.159 C121,1337.52 121.52,1337 122.159,1337 C122.317,1337 122.471,1337.031 122.616,1337.094 L128.297,1339.528 C128.724,1339.711 129,1340.13 129,1340.594 L129,1357.841 Z M127.5,1347 C127.224,1347 127,1347.224 127,1347.5 L127,1349.5 C127,1349.776 127.224,1350 127.5,1350 C127.776,1350 128,1349.776 128,1349.5 L128,1347.5 C128,1347.224 127.776,1347 127.5,1347 Z M141.973,1346.368 C141.968,1346.35 141.969,1346.33 141.962,1346.312 C141.936,1346.247 141.897,1346.19 141.847,1346.142 L138.853,1343.148 C138.658,1342.953 138.341,1342.953 138.146,1343.148 C137.951,1343.343 137.951,1343.66 138.146,1343.855 L140.291,1346 L131.5,1346 C131.224,1346 131,1346.224 131,1346.5 C131,1346.776 131.224,1347 131.5,1347 L140.293,1347 L138.146,1349.147 C137.951,1349.342 137.951,1349.659 138.146,1349.854 C138.244,1349.951 138.372,1350 138.5,1350 C138.628,1350 138.756,1349.951 138.853,1349.855 L141.853,1346.855 C141.867,1346.841 141.872,1346.823 141.884,1346.809 C141.913,1346.773 141.943,1346.736 141.961,1346.692 C141.979,1346.649 141.983,1346.603 141.988,1346.558 C141.991,1346.538 142,1346.52 142,1346.5 C142,1346.453 141.985,1346.411 141.973,1346.368 Z' id='ic-kogout'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 10px center;
    }
  }

  &-item{
    display: none;

    @media(max-width: 767px) {
      background: $white;
    }
    &.active{
      display: block;
      height: 100%;
    }

    textarea{
      min-height: 300px;
      @media(max-width: 992px){
        min-height: 150px;
      }
    }

    .back-to{
      display: none;
      padding-top: 19px;
      padding-bottom: 0;
      margin-left: 20px;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      color: $color-1-1;
      letter-spacing: -.2px;

      a {
        padding-left: 37px;
        &:hover,
        &:focus{
          color: inherit;
          text-decoration: none;
        }
      }
      @media(max-width: 767px) {
        display: block;
      }
    }

    form{
      @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }
    .form-group{
      margin-bottom: 14px;
      @media(max-width: 767px){
        //margin-bottom: 0;
      }
      &.margin-bottom-32p{
        margin-bottom: 32px;
      }
    }

    .reviews-empty{
      img{
        margin-bottom: 26px;
      }
      @media (max-width: 1199.98px) {
        min-height: 400px;
      }
    }

  }

  &-body{
    margin-right: 15.1%;
    margin-left: 70px;
    width: 100%;
    overflow-y: auto;
    max-height: 100%;

    @media (max-width: 1199.98px) {
      margin-right: 15px;
      margin-left: 15px;
    }
    @media(max-width: 767px) {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: auto;
      min-height: calc(100vh - 84px);
      right: -100%;
      z-index: 5;
      margin-right: 0;
      background: $white;
      //overflow-y: auto;
      //max-height: 100vh;
      transition: .4s;
      &.active{
        right: 0;
      }
    }
    select{
      background-size: 15px;
    }
  }

  &-head{
    margin-bottom: 12px;
    padding-top: 33px;
    min-height: 77px;
    @media(max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
    @media(max-width: 767px) {
      margin-bottom: 0;
      flex-direction: column;
      padding: 26px 20px 40px 20px;
      background-color: $white;
      order: 2;
    }

    .btn{
      min-height: 44px;
      padding: 11px 16px;
    }

    h4{
      margin-top: 0;
      margin-bottom: 0;
      @media(max-width: 992px) {
        margin-bottom: 15px;
      }
      @media(max-width: 767px){
        display: none;
      }
    }
  }

  .btns{
    @media(max-width: 767px){
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn{
      @media(max-width: 767px){
        min-width: calc(50% - 15px);
        width: auto;
      }
    }
    .btn-dropdown-close{
      display: none;
      @media(max-width: 767px){
        display: block;
      }
    }
  }

  &-form{
    min-height: 500px;
    padding: 30px;
    background-color: $white;
    border-radius: 4px;
    @media(max-width: 767px){
      order: 1;
      padding-top: 24px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  &-pic{
    position: relative;
    margin-bottom: 24px;
    max-width: 160px;
    border-radius: 4px;
    overflow: hidden;
    transition: .3s;

    @media(max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover{
      box-shadow: 0 0 1px 0 rgba(10,31,68,0.1), 0 26px 26px 0 rgba(10,31,68,0.12);
      .delete-btn{
        opacity: 1;
        bottom: 7px;
      }
    }

    img{
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 160px;
      object-fit: cover;
    }

    .delete-btn{
      position: absolute;
      left: 0;
      padding: 0;
      right: 0;
      bottom: -40px;
      margin: auto;
      width: 40px;
      min-height: 40px;
      opacity: 0;
      background: url(/img/ic-delete-white.svg)no-repeat center;
      transition: .3s;
      &:focus{
        outline: none;
      }
    }
  }

  .post{

    &-rating{
      @media(max-width: 767px){
        margin-bottom: 8px;
      }
    }

    &-header {
      top: 0;
      @media(max-width: 767px) {
        margin-bottom: 45px;
      }

      &-avatar {
        margin-right: 15px;
        max-width: 66px;
        height: 66px;
        @media(max-width: 767px) {
          max-width: 67px;
          height: 67px;
        }
      }

      &-info{
        @media(max-width: 767px) {
          position: absolute;
          top: 0;

          padding-top: 10px;
        }
      }

      &-autor {
        margin-bottom: 3px;
        @media(max-width: 767px) {
          margin-bottom: 21px;
          padding-left: 81px;
          min-height: 46px;
        }
      }

      &-locations {
        &::before {
          margin-left: -4px;
        }

        @media(max-width: 767px) {

        }

        &-place {
          letter-spacing: .16px;
        }
      }

      &-tour {
        margin-left: 13px;
        @media(max-width: 767px) {
          display: block;
          margin-left: 0;
          margin-top: 6px;
          span {
            margin-left: 2px;
          }
        }
      }

      &-rating {
        margin-bottom: 9px;
      }

      .description {
        letter-spacing: .1px;
      }

      &-content {
        &-gallery {
          margin-bottom: 10px;

          &-list {
            margin-top: -4px;
          }

          &-item {
            margin-right: 12px;
            max-width: 90px;
          }
        }
      }
    }
  }

  &-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $white, 0 0 0 2px $color-1-9;
    min-height: 246px;
    transition: .4s;
    &:hover{
      box-shadow: 0 0 0 2px $color-3-1;
    }

    @media(max-width: 992px) {
      margin-bottom: 20px;
    }

    &-bottom{
      .price{
        font-size: 16px;
        line-height: 1.5;
        color: $color-1-1;
        span{
          font-weight: 700;
        }
      }
      .active-plan{
        color: $color-3-1;
        font-size: 14px;
        font-weight: 900;
        line-height: 18px;
      }
    }
  }

  &-list{
    margin-bottom: 16px;
    padding-left: 0;
    list-style: none;
    color: $color-1-3;
    font-weight: 500;
    line-height: 1.5;
    li{
      margin-bottom: 6px!important;
    }
  }

  &-settings{
    .form-group{
      margin-bottom: 9px;
    }
  }
  .load-label{
    position: relative;
    max-width: 351px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    input[type="file"]{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-indent: -9999px;
      opacity: 0;
    }
  }


  .load-img{
    max-width: 351px;
    min-width: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 18px;
    @media(max-width: 767px) {
      margin-bottom: 4px;
      max-width: 100%;
    }
  }
  .btn.btn-outline-primary-dark3{
    padding-right: 24px;
  }

  .secure{
    position: relative;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: $color-1-1;
    &::before{
      position: absolute;
      top: -7px;
      left: 0;
      margin: auto;
      content: "";
      width: 20px;
      height: 24px;
      background: url(/img/ic-lock.svg)no-repeat center;
    }
    @media(max-width: 992px){
      margin-bottom: 20px;
    }
  }

  .secure-footer{
    padding-top: 10px;
    @media(max-width: 992px){
      flex-direction: column;
    }
  }
  .payment-btns{
    @media(max-width: 992px) {
      padding-top: 20px;
    }
    @media(max-width: 575px) {
      flex-direction: column;
    }

    .btn{
      min-width: calc(50% - 12px);
      max-width: 166px;
      padding-left: 0;
      padding-right: 0;
      @media(max-width: 575px) {
        min-width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.form-field-border{
  border: 1px solid $color-1-9;
  border-radius: 4px;
  padding: 20px 30px 23px;
}

.cards-list{
  display: inline-flex;
  padding-left: 0;
  list-style: none;

  li{
    margin-bottom: 0!important;
    margin-left: 8px;
    @media(max-width: 992px){
      margin-left: 0;
      margin-right: 8px;
    }
  }

}
.reviews-js{
  .btn{
    max-width: 160px;
    width: 100%;
  }
}

.account-information{
  &-desc{

  }

  &-list{
    margin-top: -7px;
    padding-left: 0;
    list-style: none;

    color: $color-1-3;

    .item{
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 24px;
      &-content{
        font-weight: 500;
      }
    }
    .account-edit-btn{
      width: 24px;
      min-height: 24px;
      padding: 0;
      background: url(/img/ic-edit.svg)no-repeat center;
      border: none;
    }
    .account-delete-btn{
      width: 24px;
      min-height: 24px;
      padding: 0;
      background: url(/img/ic-delete.svg)no-repeat center;
      border: none;
    }

    a{
      color: $color-1-3;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.photos-content{
  display: flex;
  flex-direction: column;
}

.photos-empty{
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  p{
    margin-bottom: 13px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: $color-1-1;
  }
}


.body-overflow{
  @media(max-width: 767px) {
    overflow: hidden;
  }
}
