// DROPDOWN
.dropdown{
  position: absolute;
  right: 20px;

  &.show{
    .dropdown-menu{
      display: block;
    }
  }

  .dropdown-menu {
    max-width: calc(100vw - 20px);
    min-width: 10rem;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    margin: 4px 0 0;
    padding: 0;
    border: 1px solid $border-primary;
    border-radius: 2px;
    background-color: $bg-primary;
    background-clip: padding-box;
    text-align: left;
    font-size: $font-size-default;
    font-weight: 500;
    color: $color-primary;

    a{
      text-decoration: none;
      color: inherit;
    }
  }
  .dropdown-item {
    width: 100%;
    display: block;
    clear: both;
    padding: 6px 20px;
    border: 0;
    background-color: transparent;
    white-space: nowrap;
    text-align: inherit;
  }
  a.dropdown-item{
    &:hover, &:focus{
      background-color: $bg-secondary;
    }
    &:active{
      background-color: $bg-quaternary;
      color: $white;
    }
  }
  //-collapse
  &-collapse{
    &-toggle{
      font-size: 20px;
      position: relative;
      color: $color-1-1;
      font-weight: bold;
      &:before,
      &:after{
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 12px);
        width: 24px;
        height: 24px;
        background-image: url(/img/ic-sprite.svg);
        background-repeat: no-repeat;
        transition: opacity 0.15s ease-in-out;
        transform: scale(-1);
        background-position: 0 -160px;
      }
      &:before{
        z-index: 1;
        background-position-x: -168px;
      }
      &:after{
        opacity: 0;
        z-index: 2;
        background-position-x: -198px;
      }
      &:hover,
      &:focus{
        &:before{
          opacity: 0;
        }
        &:after{
          opacity: 1;
        }
      }
    }
    &.check-mark-list li{
      margin-top: 0;
    }
    &.show{
      .dropdown-collapse-toggle{
        &:before,
        &:after{
          transform: scale(1);
        }
      }
    }
    &-menu{
      border: none;
      display: none;
      ul{
        padding-left: 0;
        list-style-type: none;
        li{
          margin-bottom: 0;
          margin-top: 2px;
        }
      }
      li{
        font-size: 14px;
        line-height: 28px;
        color: $color-1-13;
        margin-bottom: 0;
      }
    }
  }
  // - notifications
  &.notifications-dropdown{
    .dropdown-menu{
      width: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
    .notifications{
      max-height: calc(100vh - 160px);
      overflow: auto;
      padding-top: 26px;
      padding-bottom: 9px;
    }
    .dropdown-item{
      position: relative;
      padding-right: 34px;
      white-space: normal;

      &:after{
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: calc(50% - 5px);
        right: 12px;
        border-radius: 100%;
        transition: background-color 0.15s ease-in-out;
      }

      // - new notification
      &.is-new{
        &:after{
          background-color: $color-4-3;
        }
      }
    }
    a.dropdown-item{
      &:active{
        &.is-new{
          &:after{
            background-color: $white;
          }
        }
      }
    }

    .notifications-mark{
      margin-top: 15px;
      padding: 0 17px 15px 20px;
      text-align: right;
      font-size: 14px;

      a{
        &:not(:hover):not(:focus){
          color: $color-1-4;
        }
      }
    }
  }
  &-default{
    padding: 20px 20px;
    margin-bottom: 7px;
    background-color: $white;
    .dropdown-menu{
      position: relative;
    }
    .dropdown-toggle{
      width: 100%;
      position: relative;
      color: $color-1-1;
      font-weight: bold;
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: calc(50% - 5px);
        width: 20px;
        height: 10px;
        transform: scale(-1);
        transition: all .3s ease-in-out;
        background: url("/img/icons/_publicProfile/ic-open.svg");
      }
    }
    &.show{
      .dropdown-toggle{
        &:after{
          transform: scale(1);
        }
      }
    }
  }
}
@media (max-width: 575px){
  .dropdown{

    // - notifications
    &.notifications-dropdown{
      position: static;

      .dropdown-menu{
        top: calc(100% - 28px);
      }
    }
  }
}
@media (max-width: 413px){
  .dropdown{

    // - notifications
    &.notifications-dropdown{
      .dropdown-menu{
        top: calc(100% - 8px);
      }
    }
  }
}
@media (prefers-reduced-motion: reduce) {
  .dropdown .dropdown-item:after{
    transition: none!important;
  }
}
