@font-face {
    font-family: 'al_frescoregular';
    src: url('/fonts/al_fresco-webfont.woff2') format('woff2'),
         url('/fonts/al_fresco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
